@model MoshVidlyProject.Models.Customer

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

@using (Html.BeginForm("create", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IsSubscribedToNewsletter)
        @Html.TextBoxFor(m => m.IsSubscribedToNewsletter, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Birthdate)
        @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control" })

    </div>
    <div class="form-check">
        <label>
            @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter)
            Subscribe to news letter?
        </label>
    </div>
}