@model MoshVidlyProject.ViewModel.CreateCustomerViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

@using (Html.BeginForm("Save", "Customer"))

{

    <div class="form-group">
        @Html.ValidationSummary(true, "please follow the instruction")
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MemberShipTypeId)
        @Html.DropDownListFor(m => m.Customer.MemberShipTypeId, new SelectList(Model.MemberShipType, "Id", "Name"), "Select Membership type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MemberShipTypeId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Birthdate, "", new { @class = "text-danger" })

    </div>


    <div class="form-check">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter)
            Subscribe to news letter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)

    if (Model.Customer.Id == 0)
    {
        <button Type="submit" class="btn btn-outline-primary">Save</button>
    }
    else
    {
        <button Type="submit" class="btn btn-outline-primary">Update</button>
    }

}

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    
}
